.footer {
  background: url('../../img/footer/footer-overlay.svg');

  background-size: 2000px;
  background-position: 50% 15%;
  background-repeat: no-repeat;

  padding: clamp(7.75rem, 13.25vw, 13.25rem) 0 3rem 0;

  position: relative;

  @include mq(max, tab-mq) {
    background-size: 1400px;
  }

  @include mq(max, mob-mq) {
    background-size: 1000px ;
  }

  &__body {
    overflow: hidden;

    @include dfc;
    flex-direction: column;
    align-items: center;
  }
  &__logo {
    margin-bottom: clamp(1rem, 3vw, 3rem);
  }
  &__rights {
    text-align: center;
    &-text {
      display: block;
      font-size: 0.875rem;
      color: rgba(108, 102, 91, 1);

      margin-bottom: 1.25rem;
      padding-bottom: 1.125rem;

      border-bottom: 1px solid rgba(228, 188, 109, .1);
    }
  }
}
