.header {
  padding: clamp(2.5rem, 3.75vw, 3.75rem) 0 0 0;

  @include mq(max, mob-mq) {
    padding-top: 3.75rem;
  }

  &__inner {
    @include dfc;
  }
  &__logo {
    max-width: 11.25rem;
    @include m-a;

    @include tr(300, ease);

    @include mq(max, mob-mq) {
      max-width: 8.75rem;
    }

    @include hover {
      &:hover {
        filter: brightness(120%) drop-shadow(0 0 1rem rgba(var(--w-clr), 0.25));
        transform: scale(1.025);
      }
    }
  }
}

