body {
  margin: 0;
  padding: 0;

  color: rgba(var(--w-clr),1);
  background-color: rgba(var(--body-clr), 1);

  width: 100%;

  position: relative;

  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;

  scroll-behavior: smooth;

  overflow-x: hidden;

  min-height: 100vh;

  position: relative;
}

html {
  box-sizing: border-box;
  width: 100%;
  font-family: var(--ff);
  font-weight: 400;
  font-size: 16px;
  line-height: normal;
  min-height: 100vh;

  overflow-x: hidden;

  min-height: -webkit-fill-available;

  scroll-behavior: smooth;
}

.locked {
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  display: inline-flex;
  color: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  text-decoration: none;
  cursor: pointer;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
  display: inline-flex;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: initial;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

picture {
  display: inline-flex;
}

input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0;
}

label {
  display: block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

blockquote {
  margin: 0;
}

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {
  display: none;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}

video::-webkit-media-controls-mute-button {
  display: none;
}

video::-webkit-media-controls-timeline {
  display: none;
}

video::-webkit-media-controls-current-time-display {
  display: none;
}

textarea {
  resize: none;
}

dialog {
  margin: 0;
  padding: 0;

  background-color: transparent;

  max-width: 100%;
  max-height: 100%;

  border: none;
  outline: none;
}

figure {
  margin: 0;
}
